params {
    samplesheet = false
    db = false
    tax_db = false
    ksize = 31
    output = false
    threshold_bp = 50000
    container = "quay.io/biocontainers/sourmash:4.8.4--hdfd78af_0"
    ranks = "phylum class order family genus species strain"
}

profiles {
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
    }
}